.dub
docs.json
__dummy.html
docs/
/earthbound
earthbound.so
earthbound.dylib
earthbound.dll
earthbound.a
earthbound.lib
earthbound-test-*
*.exe
*.o
*.obj
*.lst
data
*.rom
*.spc
*.sfc
dub.selections.json
*.dll
.vs
*.ebsave
*.ebsave.bak
gamecontrollerdb.txt
data
settings.yml
*.pdb
*.bin
*.cgram
*.oam
*.oam2
*.vram
*.res
*.lib
