.dub
docs.json
__dummy.html
docs/
/earthbound
/sdl/earthbound_sdl
earthbound.so
earthbound.dylib
earthbound.dll
earthbound.a
libearthbound.a
earthbound.lib
earthbound-test-*
*.exe
*.o
*.obj
*.lst
data
*.rom
*.spc
*.sfc
dub.selections.json
*.dll
*.dylib
.vs
*.ebsave
*.ebsave.bak
gamecontrollerdb.txt
data
settings.yml
*.pdb
*.bin
*.cgram
*.oam
*.oam2
*.vram
*.res
*.lib
*.srm
*.sym
text.cache
save.yaml
dump
